.task-done-btn,
.task-delete-btn {
    padding: 5px 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
}

.task-done-btn {
    margin-left: auto;
    background: green;
}

.task-delete-btn {
    background: red;
}

.task-list-item:hover .task-done-btn,
.task-list-item:hover .task-delete-btn {
    opacity: 1;
}

.task-text {
    flex: 1;
    padding: 4px;
}

.task-text:focus {
    outline: 2px solid gray;
    border-radius: 4px;
    background: ghostwhite;
}

.task-list-item input:checked ~ .task-text {
    text-decoration: line-through;
    color: #9acd32;
}